* {
  font-family: sans-serif;
  color: rgb(31, 16, 16);
}
h1,
h3 {
  margin: 0;
  padding-top: 30px;
}
nav h1,
nav h3 {
  color: white;
}
h3 {
  padding-bottom: 15px;
}

.outerContainer {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
nav {
  background-color: #3b1b27;
  text-transform: uppercase;
}
.task-page {
  text-align: center;
  margin: 0;
  padding: 0;
}
.header {
  margin: 0;
  padding: 0;
}
.outermostContainer {
  display: flex;
  flex-direction: column;
}
.outerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  min-height: 80vh;
}
.addTask {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #3b1b27;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 200px;
  right: 25px;
  font-size: 30px;
  color: white;
}
.addTask:hover {
  background: pink;
  cursor: pointer;
}
.taskbox {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  outline: none;
}
.taskbox:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.taskbox h3 {
  text-transform: uppercase;
}

.ongoingButton {
  width: 100%;
  padding: 10px;
  border: none;
  background: green;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  outline: none;
}
.ongoingButton:hover {
  background: rgb(116, 190, 116);
  cursor: pointer;
}
.completedButton {
  width: 100%;
  padding: 10px;
  border: none;
  background: rgb(218, 63, 84);
  font-weight: bold;
  border-radius: 5px;
  color: white;
  outline: none;
}
.completedButton:hover {
  background: rgb(192, 87, 101);
  cursor: pointer;
}
.logoutButton {
  background: rgb(31, 16, 16);
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 20px;
  outline: none;
  display: block;
  position: relative;
}
.logoutButton:hover {
  background: #b12a5b;
  cursor: pointer;
  transition: all ease 0.2s;
}
.logoutButton:active {
  transform: scale(0.9);
}
